#a { grid-area: a;} 
#b { grid-area: b;} 
#c { grid-area: c;} 

#d { grid-area: d;} 
#e { grid-area: e;} 
#f { grid-area: f;} 

#g { grid-area: g;} 
#h { grid-area: h;} 
#i { grid-area: i;} 


#grid {
	display: grid;
	grid-template-areas: 
	    "a b c"
	    "d e f"
	    "g h i";
	grid-row-gap: 1rem;
}